<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a mi página</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos generales */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #e6f9ff;
            color: #333;
        }

        a:visited, a:focus { /* Focus: Color al seleccionar opción - Visited: Color al visitar*/
            background: #edf2f7;
        }

        a:hover { /*Color al pasar el cursor por encima*/
            background: #edf2f7;
        }

        a:active {
            background: #e6f7ff;
            color: white;
        }

        /* Estilos para encabezado */
        header {
            background-color: #000066;
            color: #fff;
            text-align: center;
            padding: 0;
        }

        h1 {
            font-size: 3em;
            text-shadow: 2px 2px #000;
        }

        main button {
            display: block;
            margin: 0 auto;
        }

        p {
            margin-bottom: 30px;
        }

        /* Estilos para botón */
        button {
            background-color: #000066;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 2em;
            padding: 20px 40px;
            margin: 20px 0;
            transition: background-color 0.3s ease-in-out;
            box-shadow: 0 5px #4d4dff;
        }

            button:hover {
                background-color: #3333ff;
            }

        /* Estilos para pie de página */
        footer {
            background-color: white;
            text-align: center;
            padding: 10px;
        }

            footer p {
                font-size: 0.8em;
            }
    </style>
</head>
<body>
    <div>
        <h2>Interes Compuesto</h2>
        <button style="display: block; margin: auto; padding: 10px; text-align: center;" onclick="window.location.href='@Url.Action("Index", "TemaTodos")'" type="button">
            <img src="https://cdn-icons-png.flaticon.com/512/4495/4495678.png" height="50" width="50" />
        </button>
    </div>
</body>
</html>

