<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a mi página</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos generales */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #e6f9ff;
            color: #333;
        }

        a:visited, a:focus { /* Focus: Color al seleccionar opción - Visited: Color al visitar*/
            background: #edf2f7;
        }

        a:hover { /*Color al pasar el cursor por encima*/
            background: #edf2f7;
        }

        a:active {
            background: #e6f7ff;
            color: white;
        }

        /* Estilos para encabezado */
        header {
            background-color: #000066;
            color: #fff;
            text-align: center;
            padding: 0;
        }

        h1 {
            font-size: 3em;
            text-shadow: 2px 2px #000;
        }

        main button {
            display: block;
            margin: 0 auto;
        }

        p {
            margin-bottom: 30px;
        }

        /* Estilos para botón */
        button {
            background-color: #000066;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 2em;
            padding: 20px 40px;
            margin: 20px 0;
            transition: background-color 0.3s ease-in-out;
            box-shadow: 0 5px #4d4dff;
        }

            button:hover {
                background-color: #3333ff;
            }

        /* Estilos para pie de página */
        footer {
            background-color: white;
            text-align: center;
            padding: 10px;
        }

            footer p {
                font-size: 0.8em;
            }
    </style>
</head>
<body>
    <div>
        <h2>Interes Compuesto</h2>
        <div style="display: flex; width:100%; justify-items: center; justify-content:center">
            <form class="col" style="width:45%">
                <div style="display:flex; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size:20px; flex-direction:column; width:250px">
                    <label>Valor Futuro</label>
                    <input id="F" class="p-3" type="text" placeholder="F" />
                    <br />
                    <label>Valor Presente</label>
                    <input id="P" class="p-3" type="text" placeholder="P" />
                    <br />
                    @*<label>Interes</label>
                    <input id="I" class="p-3" type="text" placeholder="I" disabled/>
                    <br />*@
                    <label>Taza de Interes</label>
                    <input id="i" class="p-3" type="text" placeholder="i" />
                    <br />
                    <label>Numero de Periodos</label>
                    <input id="n" class="p-3" type="text" placeholder="n" />
                    <br />
                    <input class="p-3" value="Calcular" type="button" onclick="calcular()" />
                </div>

            </form>
            <div style="display: flex; flex-direction:column; text-align: center; width: 500px; height:500px; background: gray; margin: auto; color:azure">
                <label id="variable" style="padding-top:20px"> </label>
                <br />
                <label id="formula" style="padding-top:20px"> </label>
                <br />
                <label id="reemplazo" style="padding-top:20px"> </label>
                <label id="resultado" style="padding-top:20px"> </label>
            </div>
        </div>
        <script>
            function calcular() {
                var F = parseFloat(document.getElementById("F").value);
                var P = parseFloat(document.getElementById("P").value);
                var i = parseFloat(document.getElementById("i").value);
                var n = parseFloat(document.getElementById("n").value);

                var I = document.getElementById("I");

                if (isNaN(F)) {
                    var resultado = document.getElementById("F");
                    resultado.value = (P * (1 + i)**n).toFixed(3);
                    document.getElementById("variable").innerHTML = "Calular Valor Futuro"
                    document.getElementById("formula").innerHTML = "F = P * (1 + i)^n"
                    var formula = `F = ${P} (1+${i})^${n}`;
                    document.getElementById("reemplazo").innerHTML = formula;
                    document.getElementById("resultado").innerHTML = 'F = ' + resultado.value


                } else if (isNaN(P)) {
                    var resultado = document.getElementById("P");
                    resultado.value = (F / (1 + i)**2).toFixed(3);
                    document.getElementById("variable").innerHTML = "Calular Valor Prensente"
                    document.getElementById("formula").innerHTML = "P = F / (1 + i)^2"
                    var formula = `P = ${F}/(1+${i})^${n}`;
                    document.getElementById("reemplazo").innerHTML = formula;
                    document.getElementById("resultado").innerHTML = 'P = ' + resultado.value
                } else if (isNaN(i)) {
                    var resultado = document.getElementById("i");
                    resultado.value = ((F / P) ** (1 / n) - 1).toFixed(3);
                    document.getElementById("variable").innerHTML = "Calular Tasa de interes"
                    document.getElementById("formula").innerHTML = "i = ((F / P) ^ (1 / n)) - 1"
                    var formula = `i = ((${F}/${P})^1/${n}-1)`;
                    document.getElementById("reemplazo").innerHTML = formula;
                    document.getElementById("resultado").innerHTML = 'i = ' + resultado.value
                } else if (isNaN(n)) {
                    var resultado = document.getElementById("n");
                    resultado.value = ((Math.log(F / P)) / (Math.log(1 + i))).toFixed(3);
                    document.getElementById("variable").innerHTML = "Calular periodo"
                    document.getElementById("formula").innerHTML = "n = Log(F / P) / Log(1 + i)"
                    var formula = `n = Log(${F}/${P})/Log(1+${i})`;
                    document.getElementById("reemplazo").innerHTML = formula;
                    document.getElementById("resultado").innerHTML = 'n = ' + resultado.value
                }
            }

        </script>
        <button style="display: block; margin: auto; padding: 10px; text-align: center;" onclick="window.location.href='@Url.Action("Index", "TemaTodos")'" type="button">
            <img src="https://cdn-icons-png.flaticon.com/512/4495/4495678.png" height="50" width="50" />
        </button>
    </div>
</body>
</html>

