<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a mi página</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos generales */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
             background-color: transparent;
            color: #333;
            background-image: url('https://img.freepik.com/vector-gratis/diseno-etiqueta-calculadora-aislada_1308-60994.jpg?w=2000') ;
            background-repeat:no-repeat;
            background-size:500px;
            background-position-y:8rem;
            background-position-x:40%
            
            
        }
        
        a:visited, a:focus { /* Focus: Color al seleccionar opción - Visited: Color al visitar*/
            background: #edf2f7;
        }

        a:hover { /*Color al pasar el cursor por encima*/
            background: #edf2f7;
        }

        a:active {
            background: #e6f7ff;
            color: white;
        }

        /* Estilos para encabezado */
        header {
            background-color: #000066;
            color: #fff;
            text-align: center;
            padding: 0;
        }

        h1 {
            font-size: 3em;
            text-shadow: 2px 2px #000;
        }

        main button {
            display: block;
            margin: 0 auto;
        }

        p {
            margin-bottom: 30px;
        }

        /* Estilos para botón */
        button {
            background-color: #000066;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 2em;
            padding: 20px 40px;
            margin: 20px 0;
            transition: background-color 0.3s ease-in-out;
            box-shadow: 0 5px #4d4dff;
        }

            button:hover {
                background-color: #3333ff;
            }

        /* Estilos para pie de página */
        footer {
            background-color: white;
            text-align: center;
            padding: 10px;
        }

            footer p {
                font-size: 0.8em;
            }
        /* Estilos para campos de entrada */
        input[type="text"] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 15px;
            margin-top:20px
        }

        input[type="number"] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 15px;
        }

        /* Estilos para el botón "Calcular" */
        input[type="button"] {
            background-color: #74F1EC;
            color: black;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 2em;
            padding: 20px 40px;
            margin: 20px 0;
            transition: background-color 0.3s ease-in-out;
            box-shadow: 0 5px #4d4dff;
        }

            input[type="button"]:hover {
                background-color: #FBCDD2;
            }
    </style>
</head>
<body>
    
    <div>
        <h2>Interes Simple</h2>

        <div style="display: flex; width:100%; justify-items: center; justify-content:center">
            <form class="col" style="width:45%">
                <div style="display:flex; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size:20px; flex-direction:column; width:250px">
                    <label>Valor Futuro</label>
                    <input id="F" class="p-2" style="margin-bottom:15px" placeholder="F" type="number" />
                    <label>Valor Presente</label>
                    <input id="P" class="p-2" style="margin-bottom:15px" placeholder="P" type="number" />
                    @*<label>Interes</label>
                    <input id="I" class="p-3" placeholder="I" type="number"  />
                    <br />*@
                    <label>Taza de Interes</label>
                    <input id="i" class="p-2" style="margin-bottom:15px" placeholder="i" type="number" />
                    <label>Numero de Periodos</label>
                    <input id="n" class="p-2" style="margin-bottom:15px" placeholder="n" type="number" />
                    <input  class="p-1" value="Calcular" type="button" onclick="calcular()" />
                </div>

            </form>
            <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size:20px; display: flex; flex-direction:column; text-align: center; width: 500px; height:400px; background: aliceblue; margin: auto; color:black">
            <br />    
            <label id="variable" style="padding-top:20px"> </label>
                <br />
                <label id="formula" style="padding-top:20px"> </label>
                <br />
                <label id="reemplazo" style="padding-top:20px"> </label>
                <br />

                <label id="resultado" style="padding-top:20px"> </label>
                <br />

            </div>
            <script>
                function calcular() {
                    var F = parseFloat(document.getElementById("F").value);
                    var P = parseFloat(document.getElementById("P").value);
                    var i = parseFloat(document.getElementById("i").value);
                    var n = parseFloat(document.getElementById("n").value);
                
                    if (isNaN(F)) {
                        var resultado = document.getElementById("F");
                        resultado.value = (P * ( (i / 100) * (n / 366))).toFixed(2);
                        document.getElementById("variable").innerHTML = "Calular Valor Futuro"
                        document.getElementById("formula").innerHTML = "F = P * (1+  i * n/ 365)"
                        var formula = 'F = ' + P + ' * (1 + ' + i / 100 + ' * ' + n / 365 + ')';
                        document.getElementById("reemplazo").innerHTML = formula;
                        document.getElementById("resultado").innerHTML = 'F = ' + resultado.value
                    } else if (isNaN(P)) {
                        var resultado = document.getElementById("P");
                        resultado.value = (F / ((i / 100) * ( n / 365))).toFixed(2);
                        document.getElementById("variable").innerHTML = "Calular Valor Prensente"
                        document.getElementById("formula").innerHTML = "P = F / (i * t )"
                        var formula = 'P = ' + F + ' / (' + i + ' * ' + n + ')';
                        document.getElementById("reemplazo").innerHTML = formula;
                        document.getElementById("resultado").innerHTML = 'P = ' + resultado.value
                    } else if (isNaN(i)) {
                        var resultado = document.getElementById("i");
                        resultado.value = (F / (P * (n / 365))).toFixed(2);
                        document.getElementById("variable").innerHTML = "Calular Tasa de interes"
                        document.getElementById("formula").innerHTML = "i =  F / ((P * ( n / 365))"
                        var formula = 'i = '+F+'* (('+P+'*' + n / 365 + ')  )';
                        document.getElementById("reemplazo").innerHTML = formula;
                        document.getElementById("resultado").innerHTML = 'i = ' + resultado.value
                    } else if (isNaN(n)) {
                        var resultado = document.getElementById("n");
                        resultado.value = (F / (P * (i / 100))).toFixed(2);
                        document.getElementById("variable").innerHTML = "Calular periodo"
                        document.getElementById("formula").innerHTML = "n =  F / ((P * i)  )"
                        var formula = 'n = ' + F + '/((' + P + '*' + i + ') )';
                        document.getElementById("reemplazo").innerHTML = formula;
                        document.getElementById("resultado").innerHTML = 'n = ' + resultado.value
                    }

                }

            </script>

            
        </div>
@*         <button style="display: block; margin-bottom: 20px; margin-top:20px; padding: 0px 15px;; text-align: center;" onclick="window.location.href='@Url.Action("Index", "TemaTodos")'" type="button">
            <img src="https://cdn-icons-png.flaticon.com/512/507/507257.png" height="19" width="29" />
        </button> *@
        
    </div>
</body>
</html>
